@model BilgiYarismasi.Web.Models.MultiBitirViewModel
@{
    ViewBag.Title = "MultiBitir";
}

<div class="well">

    <h1>Tebrikler</h1>

    Yarışma tamamlanmıştır.

</div>

<div>
    <h2>Sonuçlar</h2>
    <div>
        Toplam Soru Sayısı: @Model.toplam
    </div>
    <div>
        Cevaplanan Soru Sayısı: @Model.cevaplanan
    </div>
    <div>
        Doğru Sayısı: @Model.dogruSayisi
    </div>
    <div>
        Yanlış Sayısı: @Model.yanlisSayisi
    </div>
    <hr />
    <div>
        Bu Yarışmadan Kazandığınız Puan: @Model.yarismadanKazandiPuan
    </div>
    <div>
        Toplam Puanınız: @Model.toplamPuan
    </div>
    <p><a class="btn btn-success btn-lg" href="@Url.Action("Index","Profil")">Profili görüntüle</a></p>
</div>



