@model BilgiYarismasi.Web.Areas.Yonetim.Models.KonuSonucViewModel
@{
    ViewBag.Title = "KonuSonuc";
}

<h2>Sonuçlar</h2>
<div class="label label-primary">
    <i class="fa fa-user-secret"></i>
    Konu seçilip Kullanıcı Sonuçları
</div>
<p></p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Yarışma Tipi</td>
            <td>Tarih</td>
            <td>Kullanıcı Adı</td>
            <td>Kullanıcı Soyadı</td>
            <td>Cevaplanan</td>
            <td>Doğru</td>
            <td>Yanlış</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var detay in Model.detaylar)
        {
            <tr>
                <td>@detay.Tip</td>
                <td>@detay.yarisma.BaslangicTarihi</td>
                <td>@detay.kullanici.Ad</td>
                <td>@detay.kullanici.Soyad</td>
                <td>@detay.cevaplanan</td>
                <td>@detay.dogru</td>
                <td>@detay.yanlis</td>
            </tr>

        }
    </tbody>
</table>

