@model IEnumerable<BilgiYarismasi.DAL.Soru>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KonuId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sorusu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KonuId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sorusu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Cevap Ekle", "Create","Cevaps", new { id = item.Id },null)
        </td>
    </tr>
}

</table>
